.shopping__product-carousel {
  position: relative;
  padding: 1.5rem;
  overflow: hidden;
}

.shopping__product-container {
  display: flex;
  padding: 0 0.6rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.prev-btn,
.next-btn {
  border: none;
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}

.prev-btn {
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.next-btn {
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-btn p,
.prev-btn p {
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.437);
  border-radius: 10px;
  width: 50px;
  height: 50px;
  color: white;
  cursor: pointer;
}
